%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => "#example-navbar-collapse"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      %a.navbar-brand{:href => "/"} Wikipedia

    .collapse.navbar-collapse{:id => "example-navbar-collapse"}
      %ul.nav.navbar-nav.navbar-right
        - if !current_user
          %li= link_to("Sign up", new_user_registration_path)
          %li= link_to("Log in", new_user_session_path)
        - else
          %li.dropdown
            %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
              Hi, #{current_user.name}
              %b.caret
            %ul.dropdown-menu
              %li= link_to("New Category", new_category_path, data: {toggle: "modal", target: "#modal"})
              .modal.fade{:id => "modal", :role => "dialog"}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{:type => "button", "aria-hidden" => true, "data-dismiss" => "modal"} x
                      %h4.modal-title Before you create category, please check if present first!
                    .modal-footer
                      %button.btn.btn-default{:type => "button", "data-dismiss" => "modal", "aria-hidden" => true} Close
              %li New Article
              %li= link_to("Edit account", edit_user_registration_path)
              %li= link_to("Log out", destroy_user_session_path, method: :delete)

